* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --valid-border: #22c61d;
  --invalid-border: #ff0000;
  --unread-bg: #f3df7c;
  --read-bg: #77e3ca;
  --input-bg: hsl(242, 80%, 88%);
  --header-text-color: #070f20;
  --book-text-size: 2.4rem;
  --book-height: 39.5rem; 
}

html {
  font-size: 62.5%;
}

.shelf {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50ch, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.book {
  border: 1px solid #000;
  border-radius: 1rem;
  font-size: var(--book-text-size);
  padding: 1rem;
  height: var(--book-height);
}

.book ul {
  gap: 3rem;
  list-style: none;
  display: grid;
  grid-template-rows: 18rem 1fr 1fr 1fr;
  --lh: 3.0rem;
  line-height: var(--lh);
}

.book ul li:first-child {
  position: relative;
  overflow: hidden;
  --max-lines: 6;
  max-height: calc(var(--lh) * var(--max-lines));
  padding-right: 1rem;
}

.book ul li:first-child::before {
  position: absolute;
  content: "...";
  inset-block-end: 0;
  inset-inline-end: 0;
}

.book ul li:first-child:after {
  content: "";
  position: absolute;
  inset-inline-end: 0;
  /* "right" */
  width: 1rem;
  height: 1rem;
  background: white;
}

.book ul li:last-child {
  justify-self: center;
}

.edit {
  padding: 0.5rem 1rem;
}

.header {
  text-align: center;
  padding: 16px;
  margin-bottom: 16px;
  background-color: rgb(237, 219, 121);
  font-weight: bold;
  color: var(--header-text-color);
  font-size: 2.8rem;
}

.add {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  font-size: 4rem;
  font-weight: bold;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

form {
  position: relative;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 3rem;
  height: fit-content;
  background: var(--input-bg);
  padding: 4rem 2rem 2rem;
  border-radius: 1rem;
  height: var(--book-height);
}

.modal .form-input {
  position: relative;
}

input {
  height: 4.5rem;
  width: 25ch;
  padding-top: 2rem;
  padding-left: 0.7rem;
  font-size: var(--book-text-size);
  border: none;
  border-bottom: 1px solid #a9a9a9
}

.modal .form-input label {
  position: absolute;
  transition: all 0.3s ease-in-out;
  color: #a9a9a9;
  font-size: 2.5rem;
  left: 1rem;
  transform: translateY(25%);
}

.modal .form-input input:focus+label,
.modal .form-input input:not(:placeholder-shown)+label {
  top: 0.1rem;
  font-size: 1.4rem;
}

.modal .form-input input:focus {
  outline: none;
}

.modal .form-input input:focus:valid,
.modal .form-input input:valid:not(:placeholder-shown) {
  border: 1px solid var(--valid-border);
}

.modal .form-input input:focus:invalid {
  border: 1px solid var(--invalid-border);
}

.modal .form-input input:valid:not(:placeholder-shown)+label {
  color: var(--valid-border);
}

.modal .form-input input:invalid:not(:placeholder-shown)+label {
  color: var(--invalid-border);
}

.modal .form-input input:invalid:not(:placeholder-shown)+label+span::before {
  content: "*Must be a value between 1 - 10000";
  color: var(--invalid-border);
  position: absolute;
  left: 0.5rem;
  top: 4.3rem;
  font-size: 1.3rem;
}

.modal .form-input input:valid {
  color: var(--valid-border);
}

.modal .form-input input:invalid {
  color: var(--invalid-border);
}

.toggle {
  display: flex;
  justify-content: center;
}

.read {
  background: var(--invalid-border);
}

.read,
.read:before,
.slot-label {
  transition-property: background-color, transform, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in, cubic-bezier(0.6, 0.2, 0.4, 1.5), linear;
}

.read:before,
.slot,
.slot-label {
  display: block;
}

.read:before {
  position: absolute;
  color: #fff;
}

.read:checked {
  background-color: var(--valid-border);
}

.read:focus {
  outline: transparent;
}

/* sizing button border */
.read {
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.1em inset;
  cursor: pointer;
  position: relative;
  margin-right: 0.25em;
  width: 3em;
  height: 1.5em;
  appearance: none;
}

/* making the slider */
.read:before {
  background: currentColor;
  border-radius: 50%;
  content: "";
  top: 0.2em;
  left: 0.2em;
  width: 1.1em;
  height: 1.1em;
}

/* make label 3D */
.read:checked:before {
  transform: translateX(1.5em);
}

.read:checked~.slot .slot-label,
.slot-label:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}

.read:checked~.slot .slot-label:nth-child(2) {
  transform: translateY(-100%) scaleY(1);
}

.modal .toggle .slot {
  color: transparent;
  font-size: var(--book-text-size);
  line-height: 1.5;
  font-weight: bold;
  height: 1em;
  color: #fff
}

#read {
  border: inherit;
  color: #fff;
}

.slot-label {
  color: #000;
}

.exit {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  padding: 0.25rem 0.7rem;
}

.submit {
  padding: 1rem;
  font-weight: bold;
}